.metadata
.settings
cookierunTCG/.settings
*.class

cookierunTCG/resources/cards
cookierunTCG/resources/cards_variant
cookierunTCG/deck/*
cookierunTCG/deck_image/*
cookierunTCG/deck_readable/*
compile.bat
compile&start.bat
start.bat
cookierunTCG/config/default_state.txt
cookierunTCG/run.bat
cookierunTCG/collection/*
cookierunTCG/compile&start_new.bat
cookierunTCG/config/config.txt
cookierunTCG/jre/*
cookierunTCG/run_JRE.bat
cookierunTCG/.classpath
.vscode/settings.json
