.metadata
.settings
cookierunTCG/.settings
cookierunTCG/bin
cookierunTCG/bin/ui
cookierunTCG/bin/dataStructure
cookierunTCG/bin/util

cookierunTCG/resources/cards
cookierunTCG/resources/cards_variant
cookierunTCG/deck/*
cookierunTCG/deck_image/*
cookierunTCG/deck_readable/*
compile.bat
compile&start.bat
start.bat
cookierunTCG/config/default_state.txt
cookierunTCG/run.bat
cookierunTCG/collection/*