.metadata
.settings
cookierunTCG/.settings
*.class

cookierunTCG/resources/cards
cookierunTCG/resources/cards_variant
cookierunTCG/deck/*
cookierunTCG/deck_image/*
cookierunTCG/deck_readable/*
compile.bat
compile&start.bat
start.bat
cookierunTCG/config/default_state.txt
cookierunTCG/run.bat
cookierunTCG/collection/*
cookierunTCG/compile&start_new.bat
cookierunTCG/compile&run.bat
cookierunTCG/config/config.txt
cookierunTCG/jre/*
cookierunTCG/run_JRE.bat
cookierunTCG/.classpath
.vscode/settings.json
cookierunTCG/bin
cookierunTCG/collection_before20251223.txt
cookierunTCG/collection.txt


cookierunTCG/data/cards/*
cookierunTCG/data/cards_variant/*
cookierunTCG/userdata/deck/*
cookierunTCG/userdata/deck_image/*
cookierunTCG/userdata/deck_readable/*
cookierunTCG/userdata/collection/*
cookierunTCG/target/dist/config/config.txt
cookierunTCG/target/dist/config/default_state.txt
cookierunTCG/deckBuilderLegacy.jar
